/WORKSHOPSS/unit1/WS03operators/BasicOperations/nbproject/private/
/WORKSHOPSS/unit1/WS03operators/BasicOperations/build/
/WORKSHOPSS/unit1/WS03operators/HW.Campodefutbol.Int/nbproject/private/
/assignments/Unit1/HW02/HW.Areadecanchaprofesional.Int/nbproject/private/
/assignments/Unit1/HW02/HW.Areadecanchaprofesional.Int/build/
/assignments/Unit1/HW02/HW.Perimetrodecanchaprofesrional.Float/nbproject/private/
/assignments/Unit1/HW02/HW.Perimetrodecanchaprofesrional.Float/build/
/assignments/Unit1/HW02/HW.Totalplayerinthematch.short/nbproject/private/
/assignments/Unit1/HW02/HW.Totalplayerinthematch.short/build/
/WORKSHOPSS/unit1/WS04-LogicalOperators/nbproject/private/
/WORKSHOPSS/unit1/WS04-LogicalOperators/build/
/WORKSHOPSS/unit1/WS04_LogicalOperators/nbproject/private/
/WORKSHOPSS/unit1/WS04_LogicalOperators/build/
/WORKSHOPSS/unit1/WS05Alterations/nbproject/private/
/WORKSHOPSS/unit1/WS05Iterations/nbproject/private/
/WORKSHOPSS/unit1/WS05Iterations/build/
/assignments/Unit1/HW03/HW03-FOR/nbproject/private/
/assignments/Unit1/HW03/HW03-FOR/build/
/assignments/Unit1/HW03/H03-WHILE/nbproject/private/
/assignments/Unit1/HW03/H03-WHILE/build/
/assignments/Unit1/HW03/HW03-INV/nbproject/private/
/assignments/Unit1/HW03/HW03-INV/build/
/WORKSHOPSS/unit1/WS07MENUS/nbproject/private/
/WORKSHOPSS/unit1/WS07MENUS/build/
/assignments/Unit1/HW04/HW04-MENUS/nbproject/private/
/assignments/Unit1/HW04/HW04-MENUS/build/
/Exam/ExamUnit1/nbproject/private/
/Exam/AlvarezElamQ11/nbproject/private/
/Exam/AlvarezElamQ11/build/
/AlvarezElamQ11/ElamAlvarezQ-11/nbproject/private/
/AlvarezElamQ11/ElamAlvarezQ-11/build/
/assignments/Unit1/ProjectGroup1/nbproject/private/
/assignments/Unit1/ProjectGroup1/build/
/WORKSHOPSS/unit1/EXAMQ11_Solution/nbproject/private/
/WORKSHOPSS/unit 2/ExamQ11_Solution_WS08/nbproject/private/
/WORKSHOPSS/unit 2/ExamQ11_Solution_WS08/build/
/assignments/Unit2/HW05/nbproject/private/
/assignments/Unit2/HW05/build/
/assignments/Unit2/HW05_FACTORIAL/nbproject/private/
/assignments/Unit2/HW05_FACTORIAL/build/
/assignments/Unit2/HW09-EmbeddedStructures/nbproject/private/
/assignments/Unit2/HW09-EmbeddedStructures/build/
/WORKSHOPSS/unit 2/WS10Functions/nbproject/private/
/WORKSHOPSS/unit 2/WS10Functions/build/
/assignments/Unit2/HW10.FUNCTIONS/nbproject/private/
/assignments/Unit2/HW10.FUNCTIONS/build/
/assignments/Unit2/WS11/nbproject/private/
/assignments/Unit2/WS11/build/
/assignments/Unit2/HW11Recursion/HW11RECURSION/nbproject/private/
/assignments/Unit2/HW11Recursion/HW11RECURSION/build/
/assignments/Unit2/HW11Recursion/HW11-RECURSION-PROJECT/nbproject/private/
/assignments/Unit2/HW11Recursion/HW11-RECURSION-PROJECT/build/
/assignments/Unit2/HW11Recursion/HS12LIBRARIES/nbproject/private/
/WORKSHOPSS/unit 2/WS12LIBRARIES/nbproject/private/
/WORKSHOPSS/unit 2/WS12LIBRARIES/build/
/assignments/Unit2/HW12-TAXES/nbproject/private/
/assignments/Unit2/HW12-TAXES/build/